@use "../../../styles/global.scss" as *;

.visible {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  color: aliceblue;
  transition: 1s;
}

.hidden {
  position: absolute;
  top: 0;
  right: -444px;
  height: 100%;
  display: flex;
  color: aliceblue;
  transition: 1s;
}

.chatContainer {
  background-color: $dark-gray;
  width: 444px;
  box-shadow: rgba(8, 8, 8, 0.6) -2px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
