@use "../../../styles/global.scss" as *;

.nav {
  background-color: $dark-gray;
  display: flex;
  align-items: center;
  padding: 8px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
}

.logoSearchContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navTitle {
  color: #e4edff;
  font-weight: 900;
  margin-right: 40px;
  line-height: 100%;
  letter-spacing: 1px;
}

.searchBar {
  background-color: #e4edff;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px 10px;
  height: 32px;
  width: 440px;
  border-radius: 4px;
  color: $dark-gray;
  font-size: 14px;
}

.navBtnContainer {
  display: flex;
}

.navRoomId {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  background-color: $dark-gray;
  outline: 2px solid #e4edff;
  color: #e4edff;
  height: 35px;
  border-radius: 20px;
  font-weight: 900;
  width: 160px;
  font-size: 14px;
}

.navJoinContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  background-color: $dark-gray;
  outline: 2px solid #e4edff;
  color: #e4edff;
  height: 35px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 14px;
  background-color: #e4edff;
}

.navJoinInput {
  border: none;
  outline: none;
  height: 100%;
  background-color: #e4edff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 105px;
  font-size: 16px;
  font-weight: 900;
  padding-left: 12px;
}

.appLogo {
  height: 40px;
  pointer-events: none;
}

.navRoomIdNum {
  margin-left: 8px;
  color: $light-blue;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
